/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --heading-color: #353430;
  --title-decor-bg: #FF8DCB;
  --title-decor-text: #353430;
  --border-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --main-title-color: #FFC2E6;
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --heading-color: #353430;
    --title-decor-bg: #FF8DCB;
    --title-decor-text: #353430;
    --border-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --main-title-color: #FFC2E6;
  }

  .header__rec {
    display: none;
  }
}