/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --heading-color: #353430;
  --title-decor-bg: #FF8DCB;
  --title-decor-text: #353430;
  --border-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
}

:root.theme-light .header__rec {
  display: none;
}

:root.theme-light .header__title {
  color: #FFC2E6;
}

:root.theme-light .footer__title {
  color: #FFC2E6;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --heading-color: #353430;
    --title-decor-bg: #FF8DCB;
    --title-decor-text: #353430;
    --border-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }

  .header__title {
    color: #FFC2E6;
  }

  .footer__title {
    color: #FFC2E6;
  }
}