/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Основные цвета темной темы */
  --bg-color: #000028;                /* Основной фон страницы */
  --text-color: #F1B2CE;              /* Цвет основного текста */
  --accent-color: #FF0070;            /* Акцентный цвет (розовый) */
  --heading-color: #FF0070;           /* Цвет заголовков на основном фоне */
  --title-decor-bg: #FF0070;          /* Фон для блоков с заголовками */
  --title-decor-text: #000028;        /* Текст заголовков на цветном фоне */
  --border-color: #FF0070;            /* Цвет рамок и уголков */
  --hover-border-color: rgba(50, 49, 45, 0.4);  /* Цвет рамки при hover */
  --rec-shadow: 0 0 4px 2px #FF0070;  /* Тень для кругляшка REC */
  --bg-image: url(../images/cover-image-dark.png);  /* Фоновое изображение */
}
